<template>
  <div class="container">
    <div class="wrapper">
      <vueTimeBoard v-bind:value="value"
                      v-bind:options="options"></vueTimeBoard>
      <p>
        {{value}}
      </p>
    </div>
    <div style="margin-top: 1em;">
      <button @click="start">START</button>
      <button @click="stop">STOP</button>
    </div>
  </div>
</template>
<script>
function getDateTime() {
  var d = new Date();
  var opt = {
    year: 'numeric', month: 'numeric', day: 'numeric',
    hour: '2-digit', minute: '2-digit', second: '2-digit'
  };
  return d.toLocaleDateString('en-GB', opt).replace(',', '');
}
let timer;
const INIT_VALUE = '00/00/0000 00:00:00';
export default {
  name: 'app',
  data() {
    return {
      value: INIT_VALUE,
      options: {
        lettersCtn: 19,
        wrapperStyle: 'color: red'
      }
    };
  },
  methods: {
    start() {
      console.log('start');
      this.value = getDateTime();
      timer = setInterval(() => {
        this.value = getDateTime();
      }, 5000);
    },
    stop() {
      console.log('stop');
      this.value = INIT_VALUE;
      clearInterval(timer);
    }
  }
}
</script>
