<template>
  <span class="letter" v-bind:style="letterStyle">
    <span class="flap bottom">
      <span class="text">
        {{bottomText}}
      </span>
    </span>
    <span class="flap top">
      <span class="text">
        {{topText}}
      </span>
    </span>
    <span class="fold">
      <span class="flap falling" ref="falling">
        <span class="text" ref="fallingText" v-bind:style="textStyle">
          {{fallingText}}
        </span>
      </span>
    </span>
  </span>
</template>
<script>
const DROP_TIME = 200;
export default {
  name: "vue-time-board-flipper",
  props: ['value', 'options'],
  data() {
    return {
      topText: '',
      bottomText: '',
      fallingText: '',
      dropTime: DROP_TIME,
      stopAt: null,
      interval: null,
      index: 0,
      oldValue: '',
      newValue: '',
      letterStyle: '',
      textStyle: ''
    };
  },
  created() {
    if (this.options.letterStyle) {
      this.letterStyle = this.options.letterStyle;
    }
    if (this.options.textStyle) {
      this.textStyle = this.options.textStyle;
    }
  },
  mounted() {
    this.applyStyle();
    this.tick(this.value, '');
  },
  watch: {
    value(val, oldVal) {
      if (val !== oldVal) {
        this.tick(val, oldVal);
      }
    }
  },
  methods: {
    applyStyle() {
      const fallingText = this.$refs.fallingText;
      fallingText.style.WebkitTransitionDuration
        = fallingText.style.MozTransitionDuration
        = fallingText.style.OTransitionDuration
        = fallingText.style.transitionDuration
        = this.dropTime * 0.5 + 'ms';
    },
    tick(newValue, oldValue) {
      let fallingStyle = this.$refs.falling.style,
    		  fallingTextStyle = this.$refs.fallingText.style;

      this.fallingText = oldValue;
    	fallingStyle.display = 'block';

    	this.topText = newValue;

    	window.setTimeout (() => {
    		fallingTextStyle.WebkitTransitionTimingFunction
          = fallingTextStyle.MozTransitionTimingFunction
          = fallingTextStyle.OTransitionTimingFunction
          = fallingTextStyle.transitionTimingFunction
          = 'ease-in';
    		fallingTextStyle.WebkitTransform
          = fallingTextStyle.MozTransform
          = fallingTextStyle.OTransform
          = fallingTextStyle.transform = 'scaleY(0)';
    	}, 1);

    	window.setTimeout (() => {
    		this.fallingText = this.newValue;

    		fallingStyle.top = '-.03em';
    		fallingStyle.bottom = 'auto';
    		fallingTextStyle.top = '-.65em';

    		fallingTextStyle.WebkitTransitionTimingFunction
          = fallingTextStyle.MozTransitionTimingFunction
          = fallingTextStyle.OTransitionTimingFunction
          = fallingTextStyle.transitionTimingFunction
          = 'ease-out';
    		fallingTextStyle.WebkitTransform
          = fallingTextStyle.MozTransform
          = fallingTextStyle.OTransform
          = fallingTextStyle.transform
          = 'scaleY(1)';
    	}, this.dropTime / 2);

    	window.setTimeout (() => {
    		this.bottomText = newValue;
    		fallingStyle.display = 'none';

    		fallingStyle.top = 'auto';
    		fallingStyle.bottom = 0;
    		fallingTextStyle.top = 0;
    	}, this.dropTime);
    }
  }
}
</script>
