<template>
  <span class="vue-time-board" v-bind:style="wrapperStyle">
    <div class="row">
      <vueTimeBoardFlipper v-for="letter in letterValues" v-bind:value="letter" v-bind:options="options"></vueTimeBoardFlipper>
    </div>
  </span>
</template>
<script>
export default {
  props: ['value', 'options'],
  name: 'vue-time-board',
  data() {
    return {
      letters: 17,
      letterValues: [],
      wrapperStyle: ''
    }
  },
  created() {
    this.letters = this.options.lettersCtn || (this.value.toString()).length;
    if (this.options.wrapperStyle) {
      this.wrapperStyle = this.options.wrapperStyle;
    }
  },
  mounted() {
    this.run();
  },
  watch: {
    value(value, oldValue) {
      if (value !== oldValue) {
        this.run();
      }
    }
  },
  methods: {
    run() {
      this.letterValues = this.value.toString().split('');
    }
  }
}
</script>
<style>
/* main wrapper style allow overwrite */
.vue-time-board {
  background: rgb(30, 30, 30);
  color: #eee;
  font-family: Helvetica;
  display: inline-block;
  padding: 0.36em;
  line-height: 1.3em;
  border-radius: 0.21em;
}

.vue-time-board span.letter {
	display: inline-block;
	width: 1em;
	margin: 0 .1em;
	height: 1.3em;
	text-align: center;
	position: relative;
}

.vue-time-board span.letter {
	box-shadow:
		inset 0 -.07em 0 rgba(50, 50, 50, .7),
		inset 0 -.14em 0 rgba(0, 0, 0, .7),
		inset .14em 0 .28em rgba(0, 0, 0, .9),
		inset -.14em 0 .28em rgba(0, 0, 0, .9),
		0 .07em 0 rgba(255, 255, 255, .2);
}

.vue-time-board span.letter:before {
	border-top: .07em solid rgba(0, 0, 0, .4);
	border-bottom: .07em solid rgba(255, 255, 255, .08);
	height: 0;
	position: relative;
	width: 100%;
	left: 0;
	top: .62em;
	content: " ";
	display: block;
	z-index: 2;
	-moz-transform: translate(0, -.05em);
	-o-transform: translate(0, -.1em);
}

.vue-time-board span.fold {
	display: block;
	position: absolute;
	height: 0;
	top: .65em;
}

.vue-time-board span.flap {
	display: block;
	position: absolute;
	top: 0em;
	width: 1em;
	height: .65em;
	margin: 0;
	overflow: hidden;
}

.vue-time-board span.text {
	width: 100%;
}

.vue-time-board span.bottom {
	top: .65em;
}

.vue-time-board span.bottom span.text {
	position: relative;
	top: -.65em;
}

.vue-time-board span.flap.falling {
	display: none;
	bottom: 0;
	top: auto;
}

.vue-time-board span.flap.falling span.text {

	border-top: .03em solid #444;
	border-bottom: .03em solid #444;
  background: #000;

  -webkit-backface-visibility: hidden;
	display: block;
	position: relative;
	transform: scaleY(1);
  transition-timing-function: linear;
	/* transition: transform linear; */
}
</style>
